/**
    :::     :::::::::  ::::::::::: :::    ::: :::    ::: :::::::::  
  :+: :+:   :+:    :+:     :+:     :+:    :+: :+:    :+: :+:    :+: 
 +:+   +:+  +:+    +:+     +:+     +:+    +:+ +:+    +:+ +:+    +:+ 
+#++:++#++: +#++:++#:      +#+     +#++:++#++ +#+    +#+ +#++:++#:  
+#+     +#+ +#+    +#+     +#+     +#+    +#+ +#+    +#+ +#+    +#+ 
#+#     #+# #+#    #+#     #+#     #+#    #+# #+#    #+# #+#    #+# 
###     ### ###    ###     ###     ###    ### ########## ###    ### 

TABLE OF CONTENTS

	* Global
		+ Navbar
		+ Header
		+ About
    + Skills
    + Team
    + Services
    + Portfolio
    + testimonel
    + Pricing
    + Blog
    + brands
    + Contact
    + Footer

**/
/* -------------------------------------------------------
                     Global
-------------------------------------------------------- */
/** THEME COLOR **/
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #232323; }

button {
  background: inherit;
  border: none; }

.clearfix {
  overflow: hidden; }

/*---- position ----*/
.position-r {
  position: relative; }

.position-a {
  position: absolute; }

/*---- bg half ----*/
.bg-image-half {
  position: absolute;
  height: 100%;
  background-size: cover !important;
  background-position: 50% 50% !important;
  z-index: 0; }

/* ----- vertical middle align ----*/
.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

/*---- Overlay ----*/
.overlay {
  position: relative; }
  .overlay::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.55); }

/* ----- shadow ----*/
.box-shadow-1 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }

.box-shadow-2 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.box-shadow-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

/* ----- Buttons ----*/
.button {
  color: #111;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  margin-right: 10px;
  text-align: center;
  padding: 14px 35px;
  white-space: nowrap;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 30px !important;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out; }
  .button:hover {
    color: #ffffff;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out; }

.button-hot {
  background-color: #106790 !important;
  color: #fff;
  border-radius: 30px !important; }
  .button-hot:hover {
    background-color: #fff !important;
    color: #111 !important; }

.button-dark {
  background-color: #444; }

.button-light {
  background-color: #EEE;
  color: #333; }

/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #106790;
  border-radius: 30px !important;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  border-radius: 30px !important;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white; }

.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0); }

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  border-radius: 30px !important;
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 30px !important;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white; }

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/*----- Custom border -----*/
.border-t {
  border-top: 1px solid #f1f1f1; }

.border-b {
  border-bottom: 1px solid #f1f1f1; }

.border-l {
  border-left: 1px solid #f1f1f1; }

.border-r {
  border-right: 1px solid #f1f1f1; }

.border-none {
  border: none !important; }

.border-t-none {
  border-top: none !important; }

.border-l-none {
  border-left: none !important; }

.border-b-none {
  border-bottom: none !important; }

.border-r-none {
  border-right: none !important; }

/*----- Custom border-radius -----*/
.radius-1 {
  border-radius: 1rem; }

.radius-1-2 {
  border-radius: 1.2rem; }

.radius-1-5 {
  border-radius: 1.5rem; }

.radius-2 {
  border-radius: 2rem; }

.radius-2-2 {
  border-radius: 2.2rem; }

.radius-2-5 {
  border-radius: 2.5rem; }

.radius-3 {
  border-radius: 3rem; }

.radius-50 {
  border-radius: 50%; }

.radius-none {
  border-radius: none !important; }

/***************************************************************
      Custom Padding / Margins / Fonts/ Social Media
***************************************************************/
@media (max-width: 991px) {
  .custom-mb-sm {
    margin-bottom: 50px; }

  .custom-mb-sm:last-child {
    margin-bottom: 0; } }
/* Custom Margin Top */
.m-auto {
  margin: auto; }

.mbl-0 {
  margin-left: 0 !important;
  padding-left: 0 !important; }

.mbr-0 {
  margin-right: 0 !important;
  padding-right: 0 !important; }

.m-0 {
  margin: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.mt-5 {
  margin-top: 5px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mt-15 {
  margin-top: 15px !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-25 {
  margin-top: 25px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-35 {
  margin-top: 35px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-45 {
  margin-top: 45px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-55 {
  margin-top: 55px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mt-62 {
  margin-top: 62px !important; }

.mt-65 {
  margin-top: 65px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-75 {
  margin-top: 75px !important; }

.mt-80 {
  margin-top: 80px !important; }

.mt-85 {
  margin-top: 85px !important; }

.mt-90 {
  margin-top: 90px !important; }

.mt-95 {
  margin-top: 95px !important; }

.mt-100 {
  margin-top: 100px !important; }

/* Custom Margin Bottom */
.mb-0 {
  margin-bottom: 0 !important; }

.mb-5 {
  margin-bottom: 5px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-35 {
  margin-bottom: 35px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-45 {
  margin-bottom: 45px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-55 {
  margin-bottom: 55px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

.mb-62 {
  margin-bottom: 62px !important; }

.mb-65 {
  margin-bottom: 65px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-75 {
  margin-bottom: 75px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-85 {
  margin-bottom: 85px !important; }

.mb-90 {
  margin-bottom: 90px !important; }

.mb-95 {
  margin-bottom: 95px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-10 {
  margin-left: 10px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-20 {
  margin-left: 20px !important; }

.ml-25 {
  margin-left: 25px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-35 {
  margin-left: 35px !important; }

.ml-40 {
  margin-left: 40px !important; }

/*----- Custom Padding -----*/
.section-padding {
  padding: 120px 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pb-5 {
  padding-bottom: 5px !important; }

.pb-10 {
  padding-bottom: 10px !important; }

.pb-15 {
  padding-bottom: 15px !important; }

.pb-20 {
  padding-bottom: 20px !important; }

.pb-25 {
  padding-bottom: 25px !important; }

.pb-30 {
  padding-bottom: 30px !important; }

.pb-35 {
  padding-bottom: 35px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pb-45 {
  padding-bottom: 45px !important; }

.pb-50 {
  padding-bottom: 50px !important; }

.pb-55 {
  padding-bottom: 55px !important; }

.pb-60 {
  padding-bottom: 60px !important; }

.pb-65 {
  padding-bottom: 65px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.pb-75 {
  padding-bottom: 75px !important; }

.pb-80 {
  padding-bottom: 80px !important; }

.pb-85 {
  padding-bottom: 85px !important; }

.pb-90 {
  padding-bottom: 90px !important; }

.pb-95 {
  padding-bottom: 95px !important; }

.pb-100 {
  padding-bottom: 100px !important; }

.no-padding {
  padding: 0 !important; }

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                Preloader
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000;
  z-index: 9999999999999; }

.sp {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

.spinner {
  width: 60px;
  height: 60px;
  margin: auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
/* -------------------------------------------------------
                     phone & tablet
-------------------------------------------------------- */
@media (max-width: 560px) {
  .services .nav li {
    padding: 0 !important;
    margin-left: 0 !important;
    font-size: .8rem !important; }
    .services .nav li i {
      font-size: 1.3rem !important; }

  .filtering button {
    font-size: 14px !important;
    padding: 2px 5px !important;
    margin-left: .2rem !important;
    margin-block-end: 20px !important;
    border-radius: 0 !important; }

  .overlay-1 h4 {
    font-size: 1.3rem !important; }
  .overlay-1 h5 {
    font-size: 1.1rem !important; }
  .overlay-1 p {
    display: none !important; } }
@media (max-width: 767px) {
  .xs-mb-30 {
    margin-bottom: 30px; }

  .xs-mb-50 {
    margin-bottom: 50px; }

  .caption h2 {
    font-size: 32px !important; }
  .caption h1 {
    font-size: 43px !important; }
  .caption p {
    letter-spacing: 0 !important; }

  .overlay-1 p {
    display: none !important; }

  .services .nav li {
    padding: 1rem !important; }

  .section-title h3 {
    font-size: 25px !important; } }
@media (max-width: 1210px) {
  .overlay-1 p {
    margin-bottom: -60px !important; }
  .overlay-1:hover p {
    margin-bottom: 0 !important; } }
@media (max-width: 991px) {
  .sm-mb-50 {
    margin-bottom: 50px; }

  .about-features .about-features-block {
    border: none !important; }

  .overlay-1 p {
    margin-bottom: -35px !important; }
  .overlay-1:hover p {
    margin-bottom: 0 !important; }

  .form-group {
    display: block !important; }

  label {
    display: none !important; }

  .sm-float-left {
    float: left !important; } }
/* -------------------------------------------------------
                     Global
-------------------------------------------------------- */
body {
  overflow-x: hidden;
  background-color: #fff;
  color: #6f6f6f;
  font-family: 'Roboto', sans-serif;
  backface-visibility: hidden;
  font-weight: 500; }

/** THEME COLOR **/
p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400; }

img {
  width: 100%;
  height: 100%;
  color: #738590; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #232323; }

.section-bg {
  position: absolute;
  left: -5%;
  color: #bdb3b3;
  font-size: 60rem;
  opacity: .1;
  z-index: -1; }

.parallax {
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-transition: background-position .2s ease-in;
  -moz-transition: background-position .2s ease-in;
  -o-transition: background-position .2s ease-in;
  transition: background-position .2s ease-in;
  -webkit-background-size: cover;
  background-size: cover; }

.section-title {
  margin-bottom: 50px; }
  .section-title h3 {
    background: url("../img/bg.png");
    display: inline-block;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    backface-visibility: hidden;
    padding: 1rem 2rem;
    margin-top: 0; }
    .section-title h3:after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 2px;
      top: 50%;
      left: -35px;
      background-color: #106790; }

.sub-tit {
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize; }

/* -------------------------------------------------------
                     Navbar
-------------------------------------------------------- */
.navbar-default {
  background: none;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; }
  .navbar-default .navbar-brand {
    margin-top: -2px;
    transition: all .3s; }
    .navbar-default .navbar-brand img {
      width: 199px; }
    .navbar-default .navbar-brand .logo-1 {
      display: none; }
  .navbar-default .navbar-nav > li > a {
    margin: 0;
    color: #ffffff;
    padding: 0;
    transition: all .3s; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ffc047 !important; }
  .navbar-default .navbar-nav > li {
    font-size: 14px;
    margin: 25px 10px 0;
    padding: 0 2px;
    background: none;
    cursor: pointer;
    position: relative; }
    .navbar-default .navbar-nav > li .active {
      color: #ffc047 !important;
      background: none; }

.nav-scroll {
  background: #fff;
  box-shadow: 0px 0px 10px #a2a2a2;
  min-height: 60px;
  line-height: 60px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s; }
  .nav-scroll .navbar-nav > li > a {
    color: #111; }
  .nav-scroll .logo-1 {
    display: block !important; }
  .nav-scroll .logo-2 {
    display: none; }
.nav-scroll .navbar-brand{margin-top:0;padding: 0px 15px;}
.nav-scroll .navbar-nav > li{margin: 22px 10px 0;}	
    

/* -------------------------------------------------------
                    Header
-------------------------------------------------------- */
.header {
  background: url("../img/slide2.jpg");
  background-attachment: fixed;
  width: 100%;
  height: 100vh; }
  .header .caption h2 {
    color: #fff;
    font-size: 64px;
    font-weight: 100;
    letter-spacing: -2px;
    font-family: 'Raleway', sans-serif; }
    .header .caption h2 span {
      color: #faaf1a; }
  .header .caption h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -2px;
    backface-visibility: hidden;
    margin-bottom: 30px; }
  .header .caption p {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 100; }

/* -------------------------------------------------------
                    About
-------------------------------------------------------- */
.about{ background:#f7f7f7;}
.about .about-features {
  text-align: center;
  margin-top: -80px;
  background-color: #106790;
  padding: 0 20px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  box-shadow: 0 6px 10px 0 rgba(195, 195, 195, 0.14), 0 1px 18px 0 rgba(255, 255, 255, 0.12), 0 3px 5px -1px rgba(140, 140, 140, 0.3); }

.about .about-features .about-features-block{
	padding:2rem 2rem;
	}
.bg-blue{ background:#1f96cf;}	  
  .about .about-features .about-features-block {
    border-right: 1px solid #f1f1f1;
    text-align: center; }
    .about .about-features .about-features-block .icon span {
      color: #fff;
      font-size: 3rem; }
    .about .about-features .about-features-block h4 {
      font-size: 1.5rem; color:#fff }
    .about .about-features .about-features-block p {
      font-size: 1.3rem; color:#fff }
  .about .about-features .about-features-block:last-child {
    border: none; }
.about .about-info-part .info-part h3 {
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
  margin-top: 0; }
  .about .about-info-part .info-part h3 span {
    color: #106790;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; }
.about .about-info-part .about-photo {
  position: relative; }
  .about .about-info-part .about-photo:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 100%;
    background-color: #fff; }

/* -------------------------------------------------------
                    About-v2
-------------------------------------------------------- */
.about .caption h3 {
  font-weight: 600; }
  .about .caption h3 span {
    color: #106790; }
.about .features .feature-box .icon {
  position: relative;
  margin-bottom: 30px;
  transition: all .3s ease; }
  .about .features .feature-box .icon span {
    position: relative;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #106790;
    color: #fff;
    font-size: 3rem;
    border-radius: 50%; }
    .about .features .feature-box .icon span:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid #106790;
      opacity: 1;
      transition: all 0.25s cubic-bezier(0.55, 0.06, 0.68, 0.19); }
.about .features .feature-box .content h4 {
  font-weight: 600; }
.about .features .feature-box:hover .icon span {
  transform: scale(1.1); }
  .about .features .feature-box:hover .icon span:after {
    transform: scale(1.2);
    opacity: 1; }

/* -------------------------------------------------------
                    Skills
-------------------------------------------------------- */
.skills {
  background: rgba(0, 0, 0, 0.6);
  background-image: url("../img/skills.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
  background-blend-mode: overlay; }
  .skills p {
    line-height: 1.8; color:#fff}
  .skills h4 {
    color: #fff;
    margin-bottom: 20px; }
    .skills h4 span {
      font-weight: 700;
      color: #faaf1a; }
  .skills ul {
    margin: 0;
    padding: 0; }
    .skills ul li {
      line-height: 2.5;color: #fff; }
      .skills ul li i {
        padding: 0 5px;
        color: #faaf1a; }
  .skills .skills-prog {
    display: block;
    width: 100%; }
    .skills .skills-prog h6 {
      font-size: 1.3rem;
      font-weight: 600;
      color: #fff; }
    .skills .skills-prog .barfiller {
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #d4d4d4;
      position: relative;
      margin-bottom: 20px; }
      .skills .skills-prog .barfiller .fill {
        display: block;
        position: relative;
        width: 0px;
        height: 100%;
        background: #333;
        border-radius: 4px; }
      .skills .skills-prog .barfiller .tip {
        background-color: #f7f7f7;
        margin-top: -12px;
        padding: 2px 4px;
        color: #000000;
        font-size: 12px;
        font-weight: bold;
        left: 5px;
        border-radius: 4px;
        position: absolute;
        z-index: 2; }

/* -------------------------------------------------------
                     Team
-------------------------------------------------------- */
.team {
  overflow: hidden; }
  .team .item-team {
    position: relative;
    width: 100%; }
    .team .item-team img {
      width: 100%;
      transition: all .5s ease-in-out; }
    .team .item-team .overlay-1 {
      position: absolute;
      left: 20px;
      bottom: 0;
      right: 20px;
      background-color: #fff;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      padding: 10px 20px;
      margin: auto;
      text-align: center;
      transition: all .5s ease-in-out;
      display: none;
      z-index: 11;
      overflow: hidden; }
      .team .item-team .overlay-1 h4 {
        padding-top: 10px;
        color: #106790;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 1.7rem;
        margin: 0; }
      .team .item-team .overlay-1 h5 {
        padding: 10px 0;
        margin: 0;
        color: #000;
        font-style: italic;
        font-size: 1.5rem; }
      .team .item-team .overlay-1 p {
        font-size: 1.2rem;
        transition: all .8s;
        margin-bottom: -50px; }
      .team .item-team .overlay-1:hover p {
        margin-bottom: 0; }
    .team .item-team .overlay-full {
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      bottom: 0;
      border-radius: 4px;
      background: rgba(255, 33, 79, 0.8);
      border: 1px solid #f7f7f7;
      opacity: 0;
      overflow: hidden;
      transition: all .5s;
      color: #fff;
      z-index: 1;
      -webkit-transition: all .8s; }
      .team .item-team .overlay-full .social-icon {
        text-align: center;
        -webkit-transition: all .8s; }
        .team .item-team .overlay-full .social-icon .one {
          margin-left: -100px; }
        .team .item-team .overlay-full .social-icon .tow {
          margin-top: -100px; }
        .team .item-team .overlay-full .social-icon .tree {
          margin-right: -100px; }
        .team .item-team .overlay-full .social-icon span {
          font-size: 1.5rem;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          line-height: 34px;
          vertical-align: middle;
          margin: 0 .5rem;
          cursor: pointer;
          -webkit-transition: all .8s;
          transition: all .8s; }
          .team .item-team .overlay-full .social-icon span:hover {
            background-color: #fff;
            color: #106790; }
  .team .slick-current {
    opacity: 1 !important; }
    .team .slick-current .overlay-1 {
      display: block !important; }
    .team .slick-current:hover .overlay-full {
      opacity: 1;
      -webkit-transition: all .8s; }
      .team .slick-current:hover .overlay-full .social-icon .one, .team .slick-current:hover .overlay-full .social-icon .tow, .team .slick-current:hover .overlay-full .social-icon .tree {
        margin: 0; }
  .team .slick-slide {
    opacity: .5; }
  .team .slick-dots li button::before {
    font-size: 1.8rem;
    padding: 30px; }

/* -------------------------------------------------------
                    Services
-------------------------------------------------------- */
.services {
  background-color: #f7f7f7; }
  .services .nav {
    position: relative;
    margin: auto;
    text-align: center;
    color: #777; }
    .services .nav li {
      position: relative;
      display: inline-block;
      padding: 1rem 1.8rem;
      margin-left: 1rem;
      border-radius: 10rem;
      cursor: pointer;
      text-transform: uppercase;
      transition: all .5s; }
      .services .nav li:after {
        content: "";
        position: absolute;
        top: 32px;
        left: 50%;
        width: 100%;
        height: 2px;
        background-color: #fff; }
      .services .nav li i {
        position: relative;
        font-size: 1.8rem;
        background-color: #f7f7f7;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-bottom: 10px;
        z-index: 1; }
      .services .nav li h6 {
        font-size: 12px;
        font-weight: 600; }
      .services .nav li:hover {
        color: #106790; }
    .services .nav li:last-child:after {
      display: none; }
  .services .content-services .item {
    position: relative;
    background-color: #FFF;
    display: none;
    overflow: hidden;
    padding: 30px 15px;
    border-radius: 8px; }
    .services .content-services .item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/bg.png");
      width: 100%;
      height: 100%;
      opacity: .5; }
    .services .content-services .item .content-ser {
      position: relative;
      padding: 3rem; }
      .services .content-services .item .content-ser button {
        margin: 0; }
    .services .content-services .item p {
      margin-bottom: 2rem; }
    .services .content-services .item .part-img {
      position: relative;
      height: 100%;
      padding: 3rem; }
    .services .content-services .item .fet {
      position: relative; }
      .services .content-services .item .fet .icon {
        margin-bottom: 30px; }
        .services .content-services .item .fet .icon span {
          font-size: 4rem;
          color: #106790; }
      .services .content-services .item .fet h6 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 15px; }
  .services .content-services .active {
    display: block;
    color: inherit; }
  .services .active {
    transition: all .5s; }
    .services .active h6 {
      color: #106790; }
    .services .active i {
      background-color: #106790 !important;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
      border: none !important;
      color: #fff; }
  .services .cont-2 {
    position: relative;
    padding: 5rem; }

/* -------------------------------------------------------
                    Services-v2
-------------------------------------------------------- */
.services-2 {
  background: #f7f7f7; }
  .services-2 .services-box {
    background-color: #fff;
    padding: 50px 20px;
    margin-bottom: 30px; }
    .services-2 .services-box .icon {
      position: relative;
      margin-bottom: 30px;
      transition: all .3s ease; }
      .services-2 .services-box .icon span {
        position: relative;
        width: 80px;
        height: 80px;
        line-height: 80px;
        background-color: #106790;
        color: #fff;
        font-size: 3rem;
        border-radius: 50%; }
        .services-2 .services-box .icon span:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 1px solid #106790;
          opacity: 1;
          transition: all 0.25s cubic-bezier(0.55, 0.06, 0.68, 0.19); }
    .services-2 .services-box h4 {
      font-weight: 600;
      font-size: 1.2em;
      margin: 20px auto; }
    .services-2 .services-box p {
      padding: 10px 20px; }
    .services-2 .services-box:hover .icon span {
      transform: scale(1.1); }
      .services-2 .services-box:hover .icon span:after {
        transform: scale(1.2);
        opacity: 1; }

/* -------------------------------------------------------
                    portfolio
-------------------------------------------------------- */
.portfolio {
  overflow: hidden; }
  .portfolio .filtering {
    margin: 0 auto; }
    .portfolio .filtering button {
      position: relative;
      background-color: #f7f7f7;
      margin: 0px 1px;
      padding: 5px 15px;
      font-size: 14px;
      letter-spacing: 2px;
      color: #777;
      cursor: pointer;
      transition: all .5s; }
    .portfolio .filtering button:nth-child(1) {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px; }
    .portfolio .filtering button:last-child {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px; }
    .portfolio .filtering .active {
      background-color: #106790;
      color: #fff;
      transition: all .5s; }
      .portfolio .filtering .active::after {
        display: block; }
  .portfolio .gallery {
    padding: 0; }
    .portfolio .gallery .item-img {
      padding: 0;
      overflow: hidden; }
      .portfolio .gallery .item-img img {
        border: 1px solid #f7f7f7;
        overflow: hidden;
        transition: all .5s; }
      .portfolio .gallery .item-img:hover img {
        transform: scale(1.1); }
      .portfolio .gallery .item-img .item-img-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #f7f7f7;
        opacity: 0;
        overflow: hidden;
        transition: all .5s;
        color: #fff;
        z-index: 1; }
        .portfolio .gallery .item-img .item-img-overlay:after {
          content: "";
          position: absolute;
          top: 0;
          left: 170%;
          width: 100%;
          height: 100%;
          border: 1px solid #106790;
          background: rgba(0, 0, 0, 0.1);
          transform: skewX(45deg);
          transition: all 1s;
          z-index: -1; }
        .portfolio .gallery .item-img .item-img-overlay:hover:after {
          top: 0;
          left: -170%; }
        .portfolio .gallery .item-img .item-img-overlay:hover {
          opacity: 1; }
        .portfolio .gallery .item-img .item-img-overlay .cap {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0%);
          bottom: -50%;
          text-align: center;
          transition: all .7s; }
        .portfolio .gallery .item-img .item-img-overlay h6 {
          text-transform: uppercase;
          font-weight: 900;
          margin-bottom: 20px;
          color: #111; }
        .portfolio .gallery .item-img .item-img-overlay .icon a {
          display: inline-block;
          margin: 1rem;
          font-size: 2rem;
          color: #106790; }
          .portfolio .gallery .item-img .item-img-overlay .icon a:hover {
            color: #ddd; }
        .portfolio .gallery .item-img .item-img-overlay:hover .cap {
          bottom: 50%;
          margin-bottom: -50px; }

/* -------------------------------------------------------
                    testimonel
-------------------------------------------------------- */
.testimonel {
  background-color: #f7f7f7;
  overflow: hidden; }
  .testimonel .title h4 {
    border-color: #fff; }
  .testimonel .item-client {
    position: relative;
    background-color: #fff;
    margin: 0 15px;
    padding: 2rem 4rem;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1; }
    .testimonel .item-client::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/bg.png");
      width: 100%;
      height: 100%;
      opacity: .5; }
    .testimonel .item-client .rating {
      position: relative;
      vertical-align: middle;
      margin-block-end: 20px; }
      .testimonel .item-client .rating h4 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #106790; }
      .testimonel .item-client .rating i {
        color: #FFD600; }
    .testimonel .item-client p {
      font-weight: 300;
      padding-bottom: 20px; }
    .testimonel .item-client .info-img {
      position: relative;
      margin: auto;
      text-align: center;
      border-radius: 30px;
      padding-right: 1rem; }
      .testimonel .item-client .info-img .img-client {
        width: 70px;
        border-radius: 50%;
        text-align: center;
        margin: auto; }
        .testimonel .item-client .info-img .img-client img {
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
          border-radius: 50%; }
      .testimonel .item-client .info-img .info {
        position: relative;
        vertical-align: middle;
        padding: 1rem 1rem 0 .5rem; }
        .testimonel .item-client .info-img .info h5 {
          color: #106790;
          font-size: 1.4rem;
          font-weight: bold; }
        .testimonel .item-client .info-img .info h6 {
          font-family: 'Raleway', sans-serif;
          font-size: 1rem;
          font-weight: 800; }
  .testimonel .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 4px;
    margin: 2px; }
  .testimonel .active span {
    width: 30px !important;
    background-color: #106790 !important; }

/* -------------------------------------------------------
                    Pricing
-------------------------------------------------------- */
.pricing .pricing-item {
  padding: 50px 30px;
  border: 1px solid #f1f1f1;
  transition: all 0.5s; }
  .pricing .pricing-item .pricing-title h4 {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    text-transform: capitalize; }
  .pricing .pricing-item .pricing-price {
    margin: auto;
    width: 170px;
    height: 170px;
    line-height: 150px;
    border-radius: 50%;
    background-color: #106790;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 8px 10px 1px rgba(160, 160, 160, 0.14), 0 3px 14px 2px rgba(175, 175, 175, 0.12), 0 5px 5px -3px rgba(168, 168, 168, 0.3); }
    .pricing .pricing-item .pricing-price span:nth-child(1) {
      vertical-align: super;
      font-size: 18px;
      font-weight: 500; }
    .pricing .pricing-item .pricing-price span:last-child {
      vertical-align: baseline;
      font-size: 1.2rem;
      font-weight: 500; }
  .pricing .pricing-item ul {
    padding: 0; }
    .pricing .pricing-item ul li {
      margin: 13px 0;
      padding-block-end: 1rem;
      border-block-end: 1px solid #f1f1f1; 
	      padding-left: 40px;
    position: relative;
	  }
      .pricing .pricing-item ul li .true {
        color: #75B212;position: absolute;left: 0;top: -8px;}
      .pricing .pricing-item ul li .false {
        color: #FB3E14; }
      .pricing .pricing-item ul li span {
        padding: 1rem; }
  .pricing .pricing-item button {
    margin-top: 0;
    opacity: 0;
    transition: all 0.5s; }
  .pricing .pricing-item:hover {
    background-color: #f7f7f7;
    border: none; }
  .pricing .pricing-item:hover .pricing-price {
    background-color: #fff;
    color: #106790; }
    .pricing .pricing-item:hover .pricing-price span {
      color: #000; }
  .pricing .pricing-item:hover button {
    margin-block-start: 30px;
    opacity: 1; }

/* -------------------------------------------------------
                    Blog
-------------------------------------------------------- */
.blog {
  background-color: #f7f7f7; }
  .blog .item-blog {
    background-color: #FFF;
    border-radius: 4px; }
    .blog .item-blog .img-blog {
      position: relative; }
      .blog .item-blog .img-blog a {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: #f7f7f7;
        color: #106790;
        padding: .5rem 1.5rem 1rem;
        font-weight: 400;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; }
      .blog .item-blog .img-blog img {
        border-radius: 0; }
    .blog .item-blog .content-blog {
      background-color: #FFF;
      padding: 1rem;
      overflow: hidden; }
      .blog .item-blog .content-blog a {
        transition: all 200ms linear; }
        .blog .item-blog .content-blog a h4 {
          font-size: 1.5rem;
          font-weight: 600;
          padding: 1rem 0;
          transition: all 200ms linear; }
        .blog .item-blog .content-blog a:hover h4 {
          color: #106790; }
      .blog .item-blog .content-blog p {
        border-bottom: 1px solid #fff;
        padding-bottom: 20px; }
      .blog .item-blog .content-blog .info-img {
        display: flex;
        background-color: #f7f7f7;
        text-align: center;
        margin: auto; }
        .blog .item-blog .content-blog .info-img .img-client {
          display: table-cell;
          width: 50px;
          text-align: center;
          border-radius: 50%; }
          .blog .item-blog .content-blog .info-img .img-client img {
            border: 5px solid #fff;
            border-radius: 50%; }
        .blog .item-blog .content-blog .info-img .info {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          padding: .5rem;
          margin: auto; }
          .blog .item-blog .content-blog .info-img .info h5 {
            display: inline-block;
            font-size: 1.2rem;
            font-weight: 600;
            padding-top: .5rem; }

/* -------------------------------------------------------
                    brands
-------------------------------------------------------- */
.brands {
  padding: 50px 0; }
  .brands .item-brand {
    cursor: pointer;
    transition: all .3s; }
    .brands .item-brand img {
      transition: all .3s;
      filter: grayscale(100%); }
    .brands .item-brand:hover img {
      transform: scale(1.1);
      filter: none; }

/* -------------------------------------------------------
                    Contact
-------------------------------------------------------- */
.contact {
  position: relative;
  background-color: #f7f7f7; }
  .contact .contact-info .info-item {
    background-color: #106790;
    padding: 20px 0;
    border-right: 1px solid #f1f1f1; 
	min-height: 175px;
	}
    .contact .contact-info .info-item span {
      font-size: 3rem;
      margin-bottom: 20px;
      color: #fff; }
	  .contact .contact-info .info-item b{
		color: #faaf1a;
    	font-size: 20px;
    	font-weight: 100;
		  }
    .contact .contact-info .info-item h4 {
      font-size: 14px;
    line-height: 25px;
    color: #fff;
    margin: 0 0;
	   }
  .contact .contact-info .info-item:last-child {
    border: none; }
  .contact .contact-form {
    background-color: #fff;
    padding: 30px 0; }
  .contact .form h3 {
    margin-left: 15px; }
  .contact .form .form-group {
    display: table; }
  .contact .form label {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #106790; }
    .contact .form label i {
      color: #fff;
      font-size: 2rem;
      padding: 0 1rem; }
  .contact .form input, .contact .form textarea {
    display: table-cell;
    background-color: #f7f7f7;
    border: none;
    border-radius: 0;
    padding: 2rem 1.5rem;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit; }
    .contact .form input::placeholder, .contact .form textarea::placeholder {
      font-size: 15px; }
  .contact .form textarea {
    width: 100% !important;
    height: 120px !important; }
  .contact .form button {
    border: none;
    width: 100%;
    padding: 1.5rem;
    transition: all .3s;
    margin-left: 0; }
    .contact .form button i {
      padding: 0 1rem; }
    .contact .form button:hover i {
      transform: scale(1.2); }
  .contact #map {
    height: 460px;
    padding: 0; }

/* -------------------------------------------------------
                   footer
-------------------------------------------------------- */
footer {
  background-color: #151414;
  text-align: center;
  padding-top: 3rem; }
  footer img {
    width: 110px;
    margin-block-end: 30px; margin-bottom:15px; }
  footer .social-icon {
    margin-bottom: 2rem; }
    footer .social-icon span i {
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      background-color: #212121;
      color: #e7e7e7;
      cursor: pointer;
      transition: all .5s; }
      footer .social-icon span i:hover {
        background-color: #106790;
        color: #fff; }
  footer .Rights {
    border-top: 1px solid #212121;
    padding: 1.5rem; }
    footer .Rights h6 {
      color: #8a8a8a; }

/* -------------------------------------------------------
                    Demo-2
-------------------------------------------------------- */
/* header video */
.demo-video {
  position: relative;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay; }

/* -------------------------------------------------------
                    Demo-Veiw
-------------------------------------------------------- */
.content-veiw .item {
  transition: all 0.3s ease-in-out; }
  .content-veiw .item img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out; }
  .content-veiw .item .caption h5 {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize; }
  .content-veiw .item:hover img {
    transform: translateY(-5px);
    opacity: 0.7; }
/* -------------------------------------------------------
                    Classes To Extend
-------------------------------------------------------- */
.header, .skills {
  background-size: cover;
  background-repeat: no-repeat; }
/*# sourceMappingURL=style.css.map */
/*custom css*/
.navbar-brand{height:auto;}
.top-bar{background:rgba(251, 176, 26, 0.9);padding: 5px 0;}
.top-bar .container{ line-height:normal;}
.top-bar a{color: #000;}
.top-bar a:hover{color: #106790;}
.top-bar .social-icon a{ margin-right:12px;}







